a:link {
        text-decoration: none;
        color: #e5e7eb;
      }
      
a:visited {
        text-decoration: none;
        color: #e5e7eb;
      }
      
a:hover {
        text-decoration: underline;
      }
      
a:active {
        text-decoration: underline;
      }

ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

.header {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    
}

.hero {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

h2 {
    font-size: 24px;
    color: #f9faf8;
}